---
import { Image } from "astro:assets";
import laptop from "../assets/laptop.webp";
const { serviceImage, alt, title } = Astro.props;
---

<article
  class={`h-96 relative flex  justify-center pt-6 px-0 pb-0 overflow-hidden bg-black rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 ${serviceImage === laptop ? "items-center" : ""}`}
>
  <div class="w-full absolute z-0 ">
    <Image
      class={`w-56 object-cover  mx-auto ${serviceImage === laptop ? "items-center w-72 lg:w-2/3" : ""}`}
      quality={"low"}
      src={laptop}
      alt={alt}
      format="avif"
      quality={"low"}
      src={serviceImage}
      alt={alt}
    />
  </div>
  <div
    class="h-full w-full flex items-end justify-center text-3xl px-3 text-center pb-7 z-10 text-white font-extrabold"
  >
    <h3>{title}</h3>
  </div>
</article>
